---
import BaseLayout from "@layouts/BaseLayout.astro";
import PostsPreview from "@components/Blog/PostsPreview.astro";
---
<BaseLayout>
	<section>
		<h1>Hello <em>stranger</em>! 👋</h1>
		<p>	
			My name is Kuba and I try to learn too much things at once. 
			Welcome to my personal void where I'll share my discoveries.
			Fan of linux, web development and gym enthusiast
		</p>
	</section>
	<section>
		<div class="section__heading">
			<h2>Posts</h2>
			<a href="/blog">See more...</a>
		</div>
		<PostsPreview amount="3"/>
	</section>
	<section>
		<div class="section__heading">
			<h2>Projects</h2>
			<a href="/blog">See more...</a>
		</div>
	</section>
</BaseLayout>
<style lang="scss">
	.section__heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
</style>