---
import HomeLayout from "../layouts/HomeLayout.astro";
---
<HomeLayout>
	<section>
		<h1>Hello <em>stranger</em>! 👋</h1>
		<p>	
			My name is Kuba and I try to learn too much things at once. 
			Welcome to my personal void where I'll share my discoveries.
			Fan of linux, web development and gym enthusiast
		</p>
	</section>
</HomeLayout>