---
let posts = [];
let hasPosts = true;
try {
    posts = await Astro.glob("../../pages/blog/*.md");
} catch (error) {
    hasPosts = false;
}
---
<ul>
    {   hasPosts 
        ?
        posts.slice(0, 3).map(post => (
            <article>
                {post.frontmatter.title}
            </article>
        ))
        :
        <p>No posts</p>
    }
</ul>