---
import Nav from "../components/Nav/Nav.astro";
---
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>@DeVoid</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <div class="outer">
        <header class="header">
            <Nav />
        </header>
        <main class="main">
            <slot />
        </main>
    </div>
    </body>
</html>

<style lang="scss">
    * {
        font-family: sans-serif;
    }
    .outer {
        display: grid;
        justify-content: center;
        grid-template-areas: 
            "header"
            "main"
        ;
    }
    .header {
        grid-area: header;
    }
    .main {
        grid-area: main;
    }
</style>