---
import Nav from "../components/Nav/Nav.astro";

const links = new Map([
    ["Experiments", "/experiments"],
])
---
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>@DeVoid</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <Nav
            links={ links }
        />
        <main>
            <h1>WEBSITE</h1>
        </main>
    </body>
</html>

<style>
    * {
        font-family: sans-serif;
    }
</style>