---
import NavLink from "./NavLink.astro";
---
<nav class="header__nav">
    <NavLink to="/experiments" name="Experiments"/>
    <NavLink to="#" name="Time travel"/>
    <NavLink to="/blog" name="Blog"/>
</nav>

<style lang="scss">
    .header__nav {
        display: flex;
        justify-content: end;
        gap: 10px;
    }
</style>