---
export interface Props {
    name: String,
    to: string | URL
}

const { name, to } = Astro.props as Props;
const currentPage: string | URL = Astro.url.pathname;
---

<a href={to} class:list={["nav__link", {"nav__link--active":  currentPage === to}]}>
 {name} 
</a>

<style lang="scss">
    .nav__link {
        text-decoration: none;
        color: black;

        &--active {
            text-decoration: underline;
        }
    }
    
</style>