---
export interface Props {
    name: String,
    to: string | URL
}

const { name, to } = Astro.props as Props; 
---

<a href={to} class="nav--link"> {name} </a>
<style lang="scss">
    .nav--link {
        text-decoration: none;
        color: black;
    }
</style>